body {
    font-family: Arial;
}
 /*menu vale*/
.logo-lab{
 	width: 10em;
    align-items: center;
 }
.logo{
 	flex: 2 80%;
    text-align: center;
 }
#btn{
    width: 40px;
    background-color: #fff;
    border: none;


 }
nav{
 	text-align: right;
 }
ul{
 	list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: block;
    padding: 0.5em;

}
a{
	text-decoration: none;

}
a:hover{
	color:#000;
}
li:hover{
	background-color: yellow;

}
.enable-menu{
	display: block;
    position: absolute;
    top: 3em;
}
.disabled-menu{
	display:none;
}

/*estilos de tab menu*/

div.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
div.tab button:hover {
    background-color: #ddd;
}
div.tab button.active {
    border-bottom:3px solid #F7B314;
    font-weight: bold;
}
.tabcontent {
    display: none;
    padding: 6px 12px;

}
.overview{
    display: block;
}

header{
    display: flex;
    justify-content: flex-end;
}
