/*
 * Estilos de tu proyecto
 */
 /*menu vale*/
 .logo-lab{
 	width: 20%;
 }
 button{
    width: 40px;
    background-color: #fff;
    border: none;
 }
 nav{
 	width: 60%;
 	margin-left: 20%;
 	text-align: center;
 }
 ul{
 	list-style: none;
 }
a{
	text-decoration: none;

}
a:hover{
	color:#000;
}
li:hover{
	background-color: yellow;

}
.enable-menu{
	display: block;
}
.disabled-menu{
	display:none;
}